body {
  background: rgba(0, 0, 128, 255);
  margin: 0;
  padding: 0;
}

.h1 {
  color: rgb(186, 0, 0);
  text-align: center;
  font-size: 60px;
  -webkit-text-stroke: 4px rgb(0, 0, 0);
  font-family: fantasy;
}
.logo {
  width: 600px;
  height: 400px;
}
.text {
  font-family: Verdana;
  font-weight: 190px;
  font-size: 190px;
  margin-top: 1px;
}

.box img {
  margin-top: 50px;
  height: 300px;
  width: 550px;
}

.box p {
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 1px;
  padding-left: 40px;
  padding-right: 40px;
}
.box {
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: white;
  border: 15px solid rgb(186, 0, 0);
  width: 900px;
  height: 500px;
  margin: auto;
}

.buttons1 {
  text-align: center;
  padding: 20px;
}

.buttons2 {
  text-align: center;
}

.button {
  background-color: rgb(186, 0, 0);
  text-align: center;
  margin-top: 30px;
  padding: 20px 50px;
  margin: 18px 100px;
  border-radius: 10%;
  color: white;
  font-size: large;
}

.question_image {
  padding-top: 10px;
  width: 450px;
  height: 350px;
}
